@font-face {
    font-family: "Righteous";
    src: url("../font/Righteous/Righteous-Regular.ttf");
}
@font-face {
    font-family: "Poppins";
    src: url("../font/Poppins/Poppins-Regular.ttf");
}
*{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.header_nav ul{
    display: flex;
    justify-content: space-between;
    font-weight: bolder;
    font-size: 1.2em;
}

.info{
    padding: 4% 8% 2% 5%;
    background-color: rgb(117, 58, 255);
}
.info_pers{
    padding: 15% 15%;
}
.info_pers p{
    padding: 3% 0 10%;
}
.header, a{
    color: rgb(219, 255, 243);
    font-family: Poppins;
}
.info_pers h1{
    font-weight: 800;
    font-size: 3.2em;
}
.description{
    font-size: 0.8em;
}

/* ---- particles.js container ---- */

#particles-js{
    width: 100%;
    height: 100%;
    background-color: #b61924;
    background-image: url('');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
  

